#container {
    float: right;
    height: auto;
    width: 100%;
    border: 1px solid black;
}

#header {
    width: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
}

#content {
    padding: 20px;
    margin-top: 40px;
    height: auto;
}

#TextData {
    float: top;
    height: auto;
    width: 100%;
    border: 1px solid black;
}

#TrendChartContainer {
    width: 100%;
    height: 30%;
    border: 1px solid black;
}

#signal {
    float: top, left;
}


.signal_chart {
    border: 1px solid black;
    height: 400;
    width: 100%;
}

.signal_chart_box {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 50% 50%;
}

#mainmenu {
    list-style-type: none;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


#signal .ct-series-a .ct-line {
    stroke: red;
    stroke-width: 2px;
}


